<div class="container__menu-bar">
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/rosilene-fariasdomingues/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i> Linkedin
      </a>
    </li>
    <li>
      <a href="https://github.com/Rosifaarias" target="_blank">
        <i class="fab fa-github"></i> Github
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/rosi_fariaas/?igsh=NGRoaWF6OXhqdGI1&utm_source=qr#"
        target="_blank"
      >
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </li>
  </ul>
</div>
