<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://images.pexels.com/photos/8721318/pexels-photo-8721318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      cardTitle="Inovação Feminina: O Futuro da Tecnologia"
      cardDescription="Mulheres inspiradoras estão revolucionando o mundo tech com inovações que transformam desafios em oportunidades. Conheça as histórias e as tendências que marcam essa mudança."
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Mulheres que Codam: Força e Inovação no Mundo Digital"
      photoCover="https://images.pexels.com/photos/20447502/pexels-photo-20447502/free-photo-of-mulher-cafe-rua-via.jpeg"
    ></app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Quebrando Barreiras, Criando Caminhos de Mulheres na Tech"
      photoCover="https://media.istockphoto.com/id/1552881556/pt/foto/tablet-designer-and-serious-woman-research-in-business-startup-office-at-night-on-deadline.jpg?s=2048x2048&w=is&k=20&c=QjTWuAXDIwkvdeEhT2-1rshfQE9g_G7xBaVt3KV5m2k="
    ></app-small-card>

    <app-small-card
      Id="4"
      cardTitle="Programando o Futuro: Meninas na TI"
      photoCover="https://images.pexels.com/photos/3781660/pexels-photo-3781660.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    ></app-small-card>
    <app-small-card
      Id="5"
      cardTitle="Mentoria Tech: Conectando Gerações de Inovadoras"
      photoCover="https://images.pexels.com/photos/5240192/pexels-photo-5240192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    ></app-small-card>
    <app-small-card
      Id="6"
      cardTitle="Mulheres em Dados: Inteligência com Propósito"
      photoCover="https://images.pexels.com/photos/7648319/pexels-photo-7648319.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    ></app-small-card>
  </div>
</div>
<app-footer></app-footer>
